body {
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    color: white;
    text-align: center;
    background-color: #090909;
    padding-top: 5px;
}
.title-about{
    color: white;
    text-align: center;
    background-color: #090909;
    padding-top: 25px;
}

.about{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

div {
    overflow: hidden;
    background-color: #111;
  }

footer {
    background-color: #090909;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Header */
.header{
    float: left;
    height: 150px;
    width: 350px;
    padding: 2px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #090909;
  }
  
  li {
    float: left;
    padding-top: 40px;
    padding-left: 50px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
  }
  
  li a:hover {
    text-decoration: none;
    background-color: #111;
    color: red;
  }

/* Home Grid */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #111;
    padding: 10px;
  }
  .grid-item{
    height: 360px;
    width: 340px;
  }
  .grid-item-text{
    height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 2px;
  }

/* About Grid */
  .grid-container-about{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #111;
    padding: 20px;
  }
  .grid-item-about{
      height: 350px;
      width: 680px;
  }

/* Sessions Grid */
.grid-container-sessions {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  background-color: #111;
  padding: 10px;
}

.grid-item-text-sessions{
  color: white;
  font-size: 30px;
  padding-top: 2px;
  float: left;
}

p {
  font-size: 16px;
}

a {
  font-size: 20px;
}

/* Prices/Bookings */
.container-tickets {
  background-color: #090909;
}

.ticket-content {
  color: white;
  background-color: #111;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Price */
.table-price {
  width: 100%;
  font-size: 24px;
}

td {
padding-right: 100px;
text-decoration: underline;
}

/* Bookings */
.table-bookings {
  width: 100%;
  font-size: 26px;
  margin-left: 50px;
  grid-gap: 20px;
}

button{   
    margin-bottom: 20px;
    width: 100%;
    background: #111;
    color: white;
    border: 1px white solid;
    grid-gap: 20px;
    padding: 20px;
    cursor: pointer;
    align-content: center;
  }

button:hover {
    background: #090909;
  }

.spacing {
  padding-bottom: 20px;
}

.spacing a:visited{
  color: white;
  text-decoration: none;
}

.spacing a:link{
  text-decoration: none;
}

/* Contact */


  /* Slideshow */
@keyframes Slideshow{
    0% {
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -25%;
    }
    45%{
        left: -25%;
    }
    50%{
        left: -50%;
    }
    70%{
        left: -50%;
    }
    75%{
        left: -25%;
    }
    95%{
        left: -25%;
    }
    100%{
        left: -0%;
    }
}
#slideshow{
    overflow: hidden;
}
#slideshow figure img{
    width: 15%;
    padding: 5px;
}
#slideshow figure{
    position: relative;
    width: 200%;
    margin: 0;
    left: 0;
    font-size: 0;
    animation: 10s Slideshow infinite;
}

/* Tablet Size */
@media only screen and (max-width: 414px) {

}

/* Phone Size */
@media only screen and (max-width: 414px) {

}